<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
  {% load bootstrap4 %}
  {% bootstrap_css %}
</head>
<body>
	<div class="auth-wrapper">
		<div class="auth-content">
			<div class="card">
				<div class="row align-items-center text-center">
					<div class="col-md-12">
						<div class="card-body">

							<img src="/static/assets/images/Fractalia.png" alt="" class="img-fluid mb-4">
							<h4 class="mb-3 f-w-400">
								<a>Pruebas Servinformación</a>
								<br>Inicio de sesión
							</h4>
							<span class="mb-0 text-muted">
								{% if msg %}
									{{ msg | safe }}
								{% else %}
									credenciales por defecto:
								<br>
								test / 1q2w3e4r
								{% endif %} 
							</span>
							<p> <br /> </p>
							<form role="form" method="post" action="">

								{% csrf_token %} 
								
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="feather icon-user"></i></span>
									</div>
									{{ form.username }}
								</div>
								<div class="input-group mb-4">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="feather icon-lock"></i></span>
									</div>
									{{ form.password }}
								</div>
								<div class="form-group text-left mt-2">
									<div class="checkbox checkbox-primary d-inline">
										<input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
										<label for="checkbox-fill-a1" class="cr">Guardar credenciales</label>
									</div>
								</div>
								<button type="submit" name="login" class="btn btn-block btn-primary mb-4">Iniciar Sesión</button>
							
							</form>

							<p class="mb-0 text-muted"><a href={% url 'register' %} class="f-w-400">Crear cuenta</a></p>
							<br />
							<a target="_blank" rel="noopener" class="f-w-400">HaroldBustos</a>
							- Version <a target="_blank" rel="noopener" class="f-w-400">1.0</a>
							</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/static/assets/js/waves.min.js"></script>
